*{
    background-color: black;
}
#foo{
width: 70%;
height:auto;
margin-left: 13em;

}

#mylevel{
transition: height 2s ease;
}

.hide {
display: none;
}

#modal {
color: white;
text-align: center;
position: fixed;

width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, .7);
}

.modal-content {
background-color: #1c1c1c;

width: 80vw;
height: 80vw;
margin: auto;
}

.modal-close {
text-decoration: underline;
cursor: pointer;
}

#queue{
    color: white;
    font-size: 20px;
}



/* .myqueue{
color: #daa520;
font-size: 18px;
} */