*{
    background-color:#42652E;
    
   
}

body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: century gothic;
}

#foo{
grid-column: 1/-1;
width: 60%;
margin:auto;

}

#mylevel{
transition: height 2s ease;
}

.hide {
display: none;
}

#modal {

color: white;
font-size: 13px;
text-align:center;
position: fixed;
width: 100vw;
height: 100vh;
background-color:rgba(66, 101, 46, .7);
}

.modal-content {
background-color: #42652E;
width: 50vw;
height: 50vw;
margin: auto;
}

.modal-close {
text-decoration: underline;
cursor: pointer;
}

.image{
    width:20%;
}


#queue{
    fill: white;
}

.st5{
    fill: white;

}





/* .myqueue{
color: #daa520;
font-size: 18px;
} */